/*

CSS Syntax

selector{
	
	propertyA: valueA;
    propertyB: valueB;
    
    }

-u

*/



*{ font-family:"Courier New",monospace;
   font-size:20px;}
  
  html{background-color: skyblue;}
  body{scroll-behavior:smooth;}	
  nav{background-color:white;}

  a:hover{background-color:#b4d6de;}

  nav > div{
	display: inline-block;
	float: right;}

/*div which has a parent of nav*/


body > section > form > label{color: red;}



/*descendant selectors

firstselector descendant{}

ex.
section li{color: #075966;}*/


h2~a{text-decoration: strikethrough;}	

/*general sibling selector - Selects element that comes after the first selector. UNder one tag.
firsSelector~second selector*/


form{
	color: rgb(0,0,128);
	text-align: center;
	background-color: white;
	border: 2px solid black;
	width: 25vw;
	position: relative;
	left: 37.25%;
}

button{
	color: white;
	background-color: darkblue;
	border-radius: 150px;
}

/*Tag Selectors*/

h1{
	color: red;
    font-size: 2rem;
    text-align: center;
}


section{

height: 100vh;
text-align: center;

}

h2{font-size: 1.5rem}

ol{list-style-type: none;} 

#zuit-motto{

letter-spacing: 5px;
font-size: 30px;

}

.offered-items{
 text-transform: uppercase;

}

input[required]{
	border-width: 2px;
	border-style: solid ;
	border-color: navy;
}

h3 + #image{
	height: 300px;
	width: 300px;
	border-radius: 150px;
}


/*

border-radios - doesn't create a circle, removes border visibility
adjacent selector: h3+img (selects the img next to the element)

class selector - selects the elements with the same class name.
list-style-type - changes the style of the list element

height: changes the height of the element
vh: veiwport height; the height off the screen of the user.
100vh= 100% of the viewport height of the user's device.*/

/*!important - overrides priority of styles*/
   /*
   rem - root element measurement. html tag is the root element. Default measurement is 16px.
   2rem=2*16px
   

   display: inline-block; -it allows changing the display of the element from block to inline-block
   inline-block - the element that acts as a block element but is inline with its sibling element
   float - chages horizontal alignment: left, center, right;
   > - child selector; allows selectio of the child of the first selector/element.

   Universal selector: 

   font-family:"courier new",monospace;

   It will tell the computer to use Courier new but if the font is not
   available, it will use any font that belongs to the family monospace.

   html selector - selects all the elements inside
   the html tags.
    
   body selector - selects the elements inside the body tag.

   */


