

    /*Instruction #5*/

    #externalstyling{color:purple;}

    /*#6*/

    *{
	 font-family: "Verdana, sans-serif;";
	 font-size: 20px;
     }

     /*#7*/

      h1{font-size: 2rem;}

     /*#8*/
      
     #uppercaseh2{text-transform: uppercase;}

     /*#9*/

     .languages{background-color: skyblue;}

     /*#10*/

     li[style="color:green"]{
	
	     border-width: 2px;
	     border-style: solid;
	     border-color: navy;}
     
     /*#11*/
	 
	 img+ul{list-style:none;}


     /*12*/
	 
	 section img{

		height: 20vh;
		width: 20vh;
		border-radius: 150px;
	    }

     /*#13*/
	
	 h4~p{text-align: center;}

	 /*#14*/

     section>ul>li{letter-spacing: 10px}